name: Model Training CI

on:
  push:
    branches: [ main ]

jobs:
  train-model:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14.2'

      - name: Install MLflow & Dependencies
        run: |
          pip install mlflow dagshub pandas scikit-learn

      - name: Run MLflow Project
        env:
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
          MLFLOW_TRACKING_URI: https://dagshub.com/${{ secrets.DAGSHUB_USERNAME }}/liver-disease-mlflow.mlflow
        run: |
          cd MLProject

          if [ -f "conda.yaml" ]; then mv conda.yaml conda.yaml.bak; fi

          mlflow run . -P n_estimators=100 --env-manager local

          if [ -f "conda.yaml.bak" ]; then mv conda.yaml.bak conda.yaml; fi